<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Azule Lab Services" Description="Code analysis rules for Azule Lab Services." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1309S" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SX1309S" Action="None" />
  </Rules>
</RuleSet>